.container {
  padding: 22px 22px 26px;
}

.previewSection {
  position: relative;
  margin-top: 26px;
  min-height: 216px;
  overflow: hidden;
  padding: 20px 20px;
}

.previewTitle {
  font-size: 16px;
  font-weight: 900;
}

.tagsRow {
  margin-top: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.tagPrimary {
  border-radius: 9999px;
  background-color: #eadfff;
  padding: 4px 12px;
  font-size: 12px;
  font-weight: 900;
  color: #624cb1;
}

.tagSecondary {
  border-radius: 9999px;
  background-color: #f0f1fa;
  padding: 4px 12px;
  font-size: 12px;
  font-weight: 900;
  color: #6b7287;
}

.previewText {
  margin-top: 18px;
  max-width: 220px;
  font-size: 15px;
  font-weight: 700;
  line-height: 28px;
  color: #252b3f;
}

.iconWrapper {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.sliderContainer {
  margin-top: 18px;
}

.sliderContainer > * + * {
  margin-top: 16px;
}

.buttonWrapper {
  margin-top: auto;
  padding-top: 24px;
}
