.container {
  padding: 24px 24px;
}

.section1 {
  margin-top: 28px;
}

.label {
  font-size: 15px;
  font-weight: 900;
  color: #2b3144;
}

.textAreaContainer {
  margin-top: 12px;
  min-height: 128px;
  padding: 16px 16px;
}

.textArea {
  --font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #30364a;
}

.textAreaContainer :global(.adm-text-area-count) {
  text-align: right;
  font-size: 12px;
  font-weight: 900;
  color: #8d94a8;
}

.section2 {
  margin-top: 36px;
}

.sectionTitle {
  font-size: 15px;
  font-weight: 900;
  color: #2b3144;
}

.cardList {
  margin-top: 16px;
  margin-left: -4px;
  margin-right: -4px;
  display: flex;
  gap: 12px;
  overflow-x: auto;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 12px;
}

.indicators {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.indicatorActive {
  width: 8px;
  height: 8px;
  border-radius: 9999px;
  background-color: #8a86ff;
}

.indicatorInactive {
  width: 8px;
  height: 8px;
  border-radius: 9999px;
  background-color: #d8dcf0;
}

.hint {
  margin-top: auto;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #7d8496;
}

.buttonWrapper {
  margin-top: 28px;
}
